{% extends "base.html" %}
{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags activity_tags %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Blog" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% else %}
{% trans "Your Stream" %}
{% endif %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
{% if tag or category or year or month or author %}
<li>{% spaceless %}
{% if tag %}
    {% trans "Tag:" %} {{ tag }}
{% else %}{% if category %}
    {% trans "Category:" %} {{ category }}
{% else %}{% if year or month %}
    {% if month %}{{ month }}, {% endif %}{{ year }}
{% else %}{% if author %}
    {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
{% endif %}{% endif %}{% endif %}{% endif %}
{% endspaceless %}
</li>
{% endif %}
{% endblock %}




{% block main %}
    <div class="container stm-dashboard">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 dashboard-sections">
                <h2><a class="selected" href="#">Your Stream</a></h2>
                <h2><a href="#">Notifications</a><span class="notifications-count">4</span></h2>
            </div>
        </div>
        {% for blog_post in blog_posts.object_list %}

                {% comment "Should use this if there is no media" %}
                {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
                    {% block blog_post_list_post_featured_image %}
                        <a href="{{ blog_post.get_absolute_url }}">
                            <img class="img-thumbnail pull-left" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 90 90 %}">
                        </a>
                    {% endblock %}
                {% endif %}
                {% endcomment %}
    
                <div class="row list-post">
                    <div class="col-md-6 col-md-offset-2">
                        
                        {% block blog_post_list_post_title %}
                            {% editable blog_post.title %}
                                <h1><a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a></h1>
                            {% endeditable %}
                        {% endblock %}
                        
                        <div class="blog-post-body">
                        {% block blog_post_list_post_content %}
                            {% editable blog_post.content %}
                                {{ blog_post.description_from_content|safe|slice:":100" }}
                                <a href="{{ blog_post.get_absolute_url }}">{% trans "read more" %}</a>
                            {% endeditable %}
                        {% endblock %}
                        </div>
                        
                        <h3>
                        {% block blog_post_list_post_metainfo %}
                            {% with blog_post.user as author %}
                                <span>{{ author.get_full_name|default:author.username }}</span>
                            {% endwith %}
                            | 
                            <time>{{ blog_post.publish_date|date:"F jS, Y" }}</time>                            
                            
                            {% if blog_post.allow_comments %}
                                |
                                {% if settings.COMMENTS_DISQUS_SHORTNAME %}
                                <a href="{{ blog_post.get_absolute_url }}#disqus_thread"
                                    data-disqus-identifier="{% disqus_id_for blog_post %}">
                                    {% trans "Comments" %}
                                </a>
                                {% else %}
                                <a class="comments-count" href="{{ blog_post.get_absolute_url }}#comments">
                                    {% blocktrans count comments_count=blog_post.comments_count %}{{ comments_count }} comment{% plural %}{{ comments_count }} comments{% endblocktrans %}
                                </a>
                                {% endif %}
                            {% endif %}
                        {% endblock %}
                        </h3>
                        
                    </div>
                    
                    <div class="col-md-2">
                        
                        <div class="tags-container">
                            {% block blog_post_list_post_links %}
                            {% keywords_for blog_post as tags %}
                            {% if tags %}
                            {% spaceless %}
                            <ul class="tags">
                                {% for tag in tags %}
                                <li><a href="{% url "blog_post_list_tag" tag.slug %}">{{ tag }}</a></li>
                                {% endfor %}
                            </ul>
                            {% endspaceless %}
                            {% endif %}
                            {% endblock %}
                        </div>
                        
                    </div>
                </div>
                
        {% endfor %}
        
        <div class="row blog-paging">
            <div class="col-md-8 col-md-offset-2">
                {% pagination_for blog_posts %}            
            </div>            
        </div>
        
    </div>
        
    {% if settings.COMMENTS_DISQUS_SHORTNAME %}
        {% include "generic/includes/disqus_counts.html" %}
    {% endif %}

{% endblock %}

{% block right_panel %}
    {% include "blog/includes/filter_panel.html" %}
{% endblock %}
