<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles blog_tags keyword_tags disqus_tags activity_tags %}

<head>


<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
<link rel="stylesheet" href="{% static "css/storymaker.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
<script src="{% static "js/global.js" %}"></script>

{% block extra_js %}{% endblock %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">

<div class="navbar navbar-default" role="navigation">
<div class="container">
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">{% trans "Toggle Navigation" %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    {% if settings.SITE_TITLE %}<a class="navbar-brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
    {% if settings.SITE_TAGLINE %}<p class="navbar-text visible-lg">{{ settings.SITE_TAGLINE }}</p>{% endif %}
</div>
<div class="navbar-collapse collapse">
    
    {# {% page_menu "pages/menus/dropdown.html" %} #}
    <div class="navbar-right navbar-form">
        {% search_form %}
        {% include "includes/user_panel.html" %}
    </div>
</div>
</div>
</div>

<div class="container">

{% nevercache %}
{% if messages %}
<div class="messages">
{% for message in messages %}
<div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
</div>
{% endfor %}
</div>
{% endif %}
{% endnevercache %}

</div>

<div class="container-fluid">
    <div>
    <!-- 
    <div class="col-md-2 left">
        {% block left_panel %}
        <div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
        {% endblock %}
    </div>
     -->
    <div class="middle">
        {% block main %}
        
        
        {% blocktrans %}
        <div class="container-fluid banner app-callout">
        	<div>	
            	<div class="container">
                	<div class="row">
        				<div class="col-md-6 col-md-offset-1">
        					<h1>Make your story great.</h1>
        				</div>
        			</div>
        			
        			<div class="row">
            			<div class="col-md-6 col-md-offset-1">
                            <p>StoryMaker enables aspiring journalists all over the world to safely produce and publish professional-grade news with their phone.</p>
            			</div>
        			</div>
        
        			<div class="row">
            			<div class="col-md-6 col-md-offset-1">
            				<a class="google-play-badge">Google Play Store</a>
            				<a class="f-droid-badge" href="#stm-f-droid-install">Install Securely with F-Droid</a> 
            			</div>
        			</div>
            	</div>
        		
        	</div>
        </div>
        {% endblocktrans %}	
        
        <div class="container-fluid app-feature app-feature-learn">
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-1">
                            <div class="text-block">
                                <h1>Learn.</h1>
                                <p>The app’s built-in textbook will teach you how to be a mobile journalist while you use templates to give your story structure.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img class="device" src="{% static "img/app-feature-device-learn.png" %}" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container-fluid app-feature app-feature-make">
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <img class="device" src="{% static "img/app-feature-device-make.png" %}" alt="" />
                        </div>
                        <div class="col-md-6">
                            <div class="text-block">
                                <h1>Make.</h1>
                                <p>Produce photo, audio, or video stories. Overlays will improve your compositions. Drag and drop editing makes finishing fast.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container-fluid app-feature app-feature-share">
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                            <div class="text-block">
                                <h1>Share.</h1>
                                <p>You own your stories, publish them to any service or platform available on android and to StoryMaker.org.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img class="device" src="{% static "img/app-feature-device-share.png" %}" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="container featured-makers">
        
            <div>
        		<h2>Made With Storymaker</h2>
        	</div>
            
            <div class="row"><!-- Recent Posts -->
            {% load blog_tags keyword_tags i18n %}
            {% blog_recent_posts 6 as recent_posts %}
            {% if recent_posts %}
            {% for recent_post in recent_posts %}
            	<div class="col-md-10 col-md-offset-1">
                    <div class="row list-post">
                        <div class="col-md-7">
                            <h1><a href="{{ recent_post.get_absolute_url }}">{{ recent_post.title }}</a></h1>
                            <p>{{ recent_post.description|slice:":100" }}</p>
                            <h3><span>{{ recent_post.user.get_full_name|default:recent_post.user.username }}</span> | <time>{{ recent_post.publish_date|date:"F jS, Y" }}</time></h3>
                        </div>
                        <div class="col-md-3">
                            {% if settings.BLOG_USE_FEATURED_IMAGE and recent_post.featured_image %}
                                <img src="{{MEDIA_URL}}{{recent_post.featured_image}}">
                            {% endif %}
                        </div> 
                    </div>	
            	</div>
            {% endfor %}
            {% endif %}
            </div><!-- /Recent Posts -->
        </div>
                
        <div class="container featured-story-makers">
            <hr/>
        	<div>
        		<h2>Featured Story Makers</h2>
        	</div>
        
        	<div class="row">
        	    {% for user in featured_users %}
        		<div class="col-sm-3 featured-story-maker">
        			<div class="featured-story-maker-portrait">
        				<img src="/static/img/stm-avatar-blank.gif"></img>
        			</div>
        
        			<h1>{{ user.username }}</h1>
        
        			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida nunc in mauris gravida</p>
        
        			<button class="btn btn-default">See Stories</button>
        		</div>
                {% endfor %}
        	</div>
        </div>
                
        <div class="container-fluid small-app-callout">
            <hr/>
        	<div>	
            	<div class="container">
                	<div class="row">
        				<div class="col-md-9">
        					<h4>Start creating stories now with the StoryMaker Beta for Android.</h4>
        				</div>
        				<div class="col-md-2">
        					<a class="google-play-badge">Google Play Store</a>
        				</div>
        			</div>
            	</div>
        	</div>
        </div>
        
        <div class="container-fluid f-droid-install" id="stm-f-droid-install">
            <hr/>
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 header">
                            <h1>Protect your Privacy with F-Droid</h1>
                            <h4>If you're more comfortable skipping the play store, you can also use <a href="https://f-droid.org/">F-Droid</a> to download StoryMaker.</h4>
                        </div>
                    </div>
                    
                    <ul class="row">
                        <li class="col-md-4">
                            <div class="image-container">
                                <a href="https://s3.amazonaws.com/storymaker/fdroid/F-Droid.apk"><img src="{% static "img/f-droid.jpg" %}" alt="F-Droid" /></a>
                            </div>
                            <h3>1. <a href="https://s3.amazonaws.com/storymaker/fdroid/F-Droid.apk">Download</a> F-Droid</h3>
                            <p>F-Droid is an installable catalog of free and open source software right on your device. After it's downloaded, install it and open it up.</p>
                        </li>
                        <li class="col-md-4 f-droid-add-repo">
                            <div class="image-container">
                                <a href="https://s3.amazonaws.com/storymaker/fdroid/repo"><img src="{% static "img/f-droid-repo-qr.gif" %}" alt="F-Droid" /></a>
                                <input class="copy-field" type="text" value="https://s3.amazonaws.com/storymaker/fdroid/repo" readonly>
                            </div>
                            <h3>2. Add the StoryMaker Repository</h3>
                            <p>If you're looking at this on your phone and you just installed F-Droid, all you need to do is click on the QR code above, and F-Droid will walk you through the next steps. You can also simply copy the url listed above, or if you're reading this on a seperate screen, scan the QR code.</p>
                        </li>
                        <li class="col-md-4">
                            <div class="image-container">
                                <img src="{% static "img/f-droid-device.jpg" %}" alt="F-Droid" />
                            </div>
                            <h3>3. Install Apps</h3>
                            <p>Once our repo is added, you'll be able to download and install StoryMaker as well as Orbot. This combination will help you get started producing stories and publishing them safely.</p>
                        </li>
                    </ul>
                    
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 caption">
                            <h4>And with F-Droid you can directly share StoryMaker and other apps between devices without an internet connection. Visit the <a href="#">App Swapping Guide</a> for more information.</h4>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        
        <div class="container-fluid home-supported-by">
            <hr/>	
        	<div class="container">
            	<div class="row">
            		<h2>StoryMaker is Supported By</h2>
            	</div>
            	<div class="row supporter-container">
                	<div class="col-md-12">              	
                        <a class="story-maker-supporter-link stm-small-world-news" href="http://smallworldnews.com/">Small World News</a>
                	
                        <a class="story-maker-supporter-link stm-scalio" href="http://scal.io/">Scal.io</a>
                	
                        <a class="story-maker-supporter-link stm-open-tech" href="https://www.opentechfund.org/">Open Tech Fund</a>
                	
                        <a class="story-maker-supporter-link stm-guardian" href="http://guardianproject.info/">The Guardian Project</a>
                	
                        <a class="story-maker-supporter-link stm-free-press" href="http://www.freepressunlimited.org/">Free Press Unlimited</a>
                	</div>
    			</div>
        	</div>
        </div>
        
        <div class="container-fluid home-about">
            <hr/>	
        	<div class="container">
            	<div class="row home-about-container">
                	<div class="col-md-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt ex sed mauris rhoncus mollis. Cras viverra orci id commodo fringilla. Nunc rutrum orci in tellus placerat interdum. Aliquam egestas, urna ut consectetur pretium, lacus massa porta libero, in tempus ex magna eu risus.</p>              	
                 	</div>
                    <div class="col-md-6">
                        <p>Cras sed ex molestie, gravida risus eu, semper risus. Etiam ut nisl purus. Maecenas vitae mattis odio. Vivamus blandit tincidunt iaculis. Quisque velit mauris, tristique a nunc eu, iaculis ultricies magna.</p>
                 	</div>
    			</div>
    			<div class="row home-social-container">
                    <div class="col-md-12">
                        <a class="social-link twitter" href="#">Twitter</a>
                        <a class="social-link facebook" href="#">Facebook</a>
                        <a class="social-link instagram" href="#">Instagram</a>
                        <a class="social-link youtube" href="#">Youtube</a>
                    </div>
    			</div>
        	</div>
        </div>        
    
    {% endblock %}
    </div>

    </div>
</div>

<footer>
    <div class="container">
        
        <div class="row">        
            <div class="col-md-12">
                {% page_menu "pages/menus/footer.html" %}  
            </div>
        </div>
    
        {% comment %}
        <div class="row">        
            <div class="col-md-12">        
                <p class="site-info">
                    {% trans "Powered by" %}
                    <a href="http://mezzanine.jupo.org">Mezzanine</a>{% ifinstalled cartridge.shop %},
                    <a href="http://cartridge.jupo.org">Cartridge</a>{% endifinstalled %}
                    {% trans "and" %}
                    <a href="http://www.djangoproject.com">Django</a>
                    <span class="separator">|</span>
                    {% trans "Theme by" %} <a target="_blank" href="http://getbootstrap.com">Bootstrap</a>
                    {% ifinstalled mezzanine.mobile %}
                    <span class="separator">|</span>
                    <a href="{% url "set_device" "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>
                    {% endifinstalled %}
                </p>
            </div>
        </div>
        {% endcomment %}
    
    </div>
</footer>

{% include "includes/footer_scripts.html" %}

</body>
</html>



