{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}

<div class="container">
	<div class="row">
		<div class="col-md-12 banner">
			<h1>StoryMaker enables aspiring journalists all over the world to safely produce and publish professional-grade news with their phone.</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-7">
			<div class="panel featured-item-panel">
				<div class="panel-heading">
					<h1>Making Prayer Beads in Erbil</h1>
				</div>

				<div class="panel-body">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida nunc in mauris gravida, at fermentum.
				</div>

				<div class="panel-footer">
					<p>October 2nd, 2014 from <b>Iraq</b></p>
				</div>
			</div>
		</div>

		<div class="col-md-5">
			<div class="panel featured-item-panel">
				<div class="panel-heading">
					<h1>Lorem Ipsum</h1>
				</div>

				<div class="panel-body">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida nunc in mauris gravida, at fermentum.
				</div>

				<div class="panel-footer">
					<p>October 2nd, 2014 from <b>Iraq</b></p>
				</div>
			</div>
		</div>

		<div class="col-md-5">
			<div class="panel featured-item-panel">
				<div class="panel-heading">
					<h1>Lorem Ipsum Dolor</h1>
				</div>

				<div class="panel-body">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida nunc in mauris gravida, at fermentum.
				</div>

				<div class="panel-footer">
					<p>October 2nd, 2014 from <b>Iraq</b></p>
				</div>
			</div>
		</div>

		<div class="col-md-7">
			<div class="panel featured-item-panel">
				<div class="panel-heading">
					<h1>Lorem Ipsum Dolor Slideshow</h1>
				</div>

				<div class="panel-body">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida nunc in mauris gravida, at fermentum.
				</div>

				<div class="panel-footer">
					<p>October 2nd, 2014 from <b>Iraq</b></p>
				</div>
			</div>
		</div>

		<div class="col-md-7">
			<div class="panel featured-item-panel">
				<div class="panel-heading">
					<h1>Making Prayer Beads in Erbil</h1>
				</div>

				<div class="panel-body">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida nunc in mauris gravida, at fermentum.
				</div>

				<div class="panel-footer">
					<p>October 2nd, 2014 from <b>Iraq</b></p>
				</div>
			</div>
		</div>

		<div class="col-md-5">
			<div class="panel featured-item-panel">
				<div class="panel-heading">
					<h1>Lorem Ipsum</h1>
				</div>

				<div class="panel-body">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida nunc in mauris gravida, at fermentum.
				</div>

				<div class="panel-footer">
					<p>October 2nd, 2014 from <b>Iraq</b></p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 banner container">
			<div class="row">
				<div class="col-md-12">
					<h1>Learn. Make. Share.</h1>
				</div>
			</div>
			
			<div class="row">
			<div class="col-md-6">
				<p>Produce and publish professional-grade news with your Android phone, as safely and securely as possible.</p>
			</div>

			<div class="col-md-6">
				<a href="http://play.google.com">Get it on Googleplay.</a>
			</div>
			</div>

			<div class="row">
				<a class="col-md-12">Learn More</a>
			</div>
		</div>
	</div>

	<div class="row">
		<h2>Featured Story Makers</h2>
	</div>

	<div class="row">
		<div class="col-sm-3 featured-story-maker">
			<div class="featured-story-maker-portrait">
				<img src="http://i.stack.imgur.com/MG6ba.png"></img>
			</div>

			<h1>Lorem Blog</h1>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida nunc in mauris gravida</p>

			<button class="btn btn-default">See Stories</button>
		</div>

		<div class="col-sm-3 featured-story-maker">
			<div class="featured-story-maker-portrait">
				<img src="http://i.stack.imgur.com/MG6ba.png"></img>
			</div>

			<h1>Lorem Blog</h1>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida nunc in mauris gravida</p>

			<button class="btn btn-default">See Stories</button>
		</div>

		<div class="col-sm-3 featured-story-maker">
			<div class="featured-story-maker-portrait">
				<img src="http://i.stack.imgur.com/MG6ba.png"></img>
			</div>

			<h1>Lorem Blog</h1>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida nunc in mauris gravida</p>

			<button class="btn btn-default">See Stories</button>
		</div>

		<div class="col-sm-3 featured-story-maker">
			<div class="featured-story-maker-portrait">
				<img src="http://i.stack.imgur.com/MG6ba.png"></img>
			</div>

			<h1>Lorem Blog</h1>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida nunc in mauris gravida</p>

			<button class="btn btn-default">See Stories</button>
		</div>

		<div class="col-sm-3 featured-story-maker">
			<div class="featured-story-maker-portrait">
				<img src="http://i.stack.imgur.com/MG6ba.png"></img>
			</div>

			<h1>Lorem Blog</h1>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida nunc in mauris gravida</p>

			<button class="btn btn-default">See Stories</button>
		</div>

		<div class="col-sm-3 featured-story-maker">
			<div class="featured-story-maker-portrait">
				<img src="http://i.stack.imgur.com/MG6ba.png"></img>
			</div>

			<h1>Lorem Blog</h1>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida nunc in mauris gravida</p>

			<button class="btn btn-default">See Stories</button>
		</div>

		<div class="col-sm-3 featured-story-maker">
			<div class="featured-story-maker-portrait">
				<img src="http://i.stack.imgur.com/MG6ba.png"></img>
			</div>

			<h1>Lorem Blog</h1>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida nunc in mauris gravida</p>

			<button class="btn btn-default">See Stories</button>
		</div>

		<div class="col-sm-3 featured-story-maker">
			<div class="featured-story-maker-portrait">
				<img src="http://i.stack.imgur.com/MG6ba.png"></img>
			</div>

			<h1>Lorem Blog</h1>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida nunc in mauris gravida</p>

			<button class="btn btn-default">See Stories</button>
		</div>
	</div>

	<hr/>

	<div class="row">
		<div class="col-md-7">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt ex sed mauris rhoncus mollis. Cras viverra orci id commodo fringilla. Nunc rutrum orci in tellus placerat interdum. Aliquam egestas, urna ut consectetur pretium, lacus massa porta libero, in tempus ex magna eu risus. Cras sed ex molestie, gravida risus eu, semper risus. Etiam ut nisl purus. Maecenas vitae mattis odio. Vivamus blandit tincidunt iaculis. Quisque velit mauris, tristique a nunc eu, iaculis ultricies magna.</p>

			<a>Twitter</a>

			<a>Instagram</a>

			<a>Facebook</a>

			<a>YouTube</a>
		</div>

		<div class="col-md-5 container">

			<h3>StoryMaker is supported by</h3>

			<div class="row">
				<div class="col-md-6">
					<a class="story-maker-supporter-link"></a>
				</div>
				<div class="col-md-6">
					<a class="story-maker-supporter-link"></a>
				</div>
				<div class="col-md-6">
					<a class="story-maker-supporter-link"></a>
				</div>
				<div class="col-md-6">
					<a class="story-maker-supporter-link"></a>
				</div>
			</div>

			<button>Learn More About StoryMaker.org</button>
		</div>
	</div>
</div>


{% endblocktrans %}
{% endblock %}
