
.stm-dashboard {
    
    .dashboard-sections {
        
        margin-top: 20px;
        
        h2 {
            
            display: inline;
            margin-right: 26px;
        
            a {
                
                color: $black;
                padding-bottom: 4px;
                
                &.selected {
                    
                    border-bottom: 2px solid $black;
                }
                
                &:hover {
                    
                    text-decoration: none;
                    border-color: $orange;
                    color: $orange;
                }
            }
        }
        
        .notifications-count {

            display: inline-block;
            padding: 3px 5px 5px 7px;
            @include border-radius(30px);
            background: $orange;
            color: #FFF;
            text-align: center;
            margin-left: 6px;
        }
    }
    
    .list-post {
        
        margin-bottom: 20px;
        
        .comments-count {
            
            text-transform: capitalize;
            color: $black;
            
            &:hover {
                
                color: $highlight;
            }
        }
        
        .tags-container {
            
            margin-top: 30px;
        }
    }
    
    .blog-paging {
        
        text-align: center;
    }
}


.stm-sidebar {
    
    background: #008aa8;
    
    h4 {
        
        font-size: pem(12);
        margin-bottom: 0;
        color: #FFF;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.12em;
    }
    
    .stm-blog-group-title {
        
        border-top: 2px solid #3da6bd;
        padding: 10px 0;
    }

    .stm-blog-profile {
    
        .stm-blog-portrait {
            
            border-bottom: 2px solid #3da6bd;
            text-align: center;
            padding-bottom: 15px;
            margin-bottom: 15px;
            
            img.user-portrait {
                
                margin-top: 18px;
                width: 100%;
                max-width: 150px;
                border: 5px solid #3da6bd;
                @include border-radius(50%);
            }
        }
        
        h1 {
            
            text-align: center;
            font-size: pem(18);
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.11em;
            margin-bottom: 10px;
            margin-top: 14px;
            color: #FFF;
        }
        
        .stm-blog-follows {
            
        //    padding-bottom: 15px;
        }
        
        label {
            
            font-size: pem(18);
            color: #FFF;
        }
        
        .settings-cta {
            
            margin-top: 10px;
            margin-bottom: 22px;
            
            .btn-default {
                
                color: #FFF;
                width: 100%;
                border-color: #3DA6BD; 
            }            
        }
    }
    
    .stm-blog-groups {
        
        margin-bottom: 15px;
        
        h3 {
            
            font-size: pem(14);
            font-weight: 600;
        }
        
        .user-portrait {
            
            width: 100%;
            margin-top: 8px;
            border: 5px solid $black;
            @include border-radius(50%);
        }
        
        h5 {
            
            font-size: pem(12);
            font-weight: 600;
            margin-bottom: 4px;
            color: #FFF;
        }
        
        p {
            
            font-size: pem(12);
            line-height: pem(16, 12);
            color: #FFF;
        }
        
        .col-md-3 {
            
            padding-right: 0;
        }
        
        .col-md-9 {
            
            padding-left: 0;
        }
    }
    
    .stm-saved-search {
     
        ul {
            
            list-style: none;
            padding: 0;
            
            li {
                
                font-size: pem(12);
                font-weight: 600;
                
                a {
                    
                    color: #FFF;
                }
            }
        }
    }   
    
    .stm-navigation-tree {
        
        padding-bottom: 40px;
        
        .row {
            
            border-top: 2px solid #3da6bd;
            padding-top: 15px;
        }
        
        li {
            
            a {
                
                color: #FFF;
                padding-left: 0;
                
                &:hover {
                    
                    color: $brand-green;
                }
            }
        }
    }
}

@import 'userColors';




