/* Home */

.banner {

    background-color:aqua;
    
    .banner-header {
        
        text-align: center;
    }
    
    h1 {
        
        font-family: $openSansStack;
        font-weight: 300;
        font-size: pem(51);
        color: #FFF;
        width: 95%;
        text-align: center;
    }
}


/* Mission */

.mission {
    
    background: url(../img/stm-home-masthead.jpg) no-repeat $blue center center;
    height: 380px;
    @include prefix( background-size, cover);

    h1 {
        
        margin: 84px auto 0;
    }
}

.app-callout {
    
    background: url(../img/stm-home-app-callout.jpg) no-repeat $green center center;
    height: 380px;
    @include prefix( background-size, cover);
    
    h1 {
        
        text-align: left;
        margin-top: 84px;
    }
    
    p {
        
        color: #FFF;
        font-weight: 300;
    }
    
    a {
        
        color: #FFF;
    }
    
    .google-play-badge {

        a {
            
            display: block;
            background: url(../img/google-play-badge.png) no-repeat;
            width: 172px;
            height: 60px;
                        
            @extend .text-replacement;  
        }
    }
    
    .btn-default {
        
        color: #FFF;
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
        border-color: #FFF;
        margin-left: 15px;
        
        &:hover,
        &:focus,
        &.focus {
            
            background: #FFF;
            color: $highlight;
        } 
    }
}


/* Panels */

.featured-makers {
    
    padding-top: 40px;
    padding-bottom: 40px;
}

@import 'featured-panels';

/* Makers List */

.featured-story-makers h2 {
    
    text-align: center;
    margin: 60px 0;
}

.featured-story-maker {
    
    text-align: center;
    padding-bottom: 40px;
    
    h1 {
        
        text-align: center;
        font-size: pem(18);
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.11em;
        margin-bottom: 10px;
    }
    
    p {
        font-size: pem(14);
        line-height: pem(18, 14);
        text-align: center;
        width: 90%;
        margin: 0 auto;
        padding-bottom: pem(18, 16);
    }
    
    button {
        
        width: 80%;
    }
    
    .featured-story-maker-portrait {
        
        text-align: center;
    }
}


/* About Footer */

.stm-footer-about {
    
    p {
        
        font-size: pem(14);
        line-height: pem(20, 14);
    }
    
    ul {
        
        list-style: none;
        padding-left: 0;
        
        li {
            
            margin-right: 10px;
            display: inline;
        }
    }
}

.stm-supported-by {
    
    h2 {
        
        margin-top: 0;
        margin-bottom: 20px;
    }
    
    .story-maker-supporter-link {
        
        display: block;
        @extend .text-replacement;
        text-indent: 200%; 
        padding: 0;
    
        &.stm-small-world-news {
            
            width: 179px;
            height: 36px;
            background: url(../img/stm-small-world-news.gif) no-repeat;
        }
        
        &.stm-guardian {
            
            width: 205px;
            height: 95px;
            background: url(../img/stm-guardian-logo.gif) no-repeat;
        }
        
        &.stm-free-press {
            
            width: 244px;
            height: 95px;
            background: url(../img/stm-free-press-logo.gif) no-repeat;
        }
        
        &.stm-open-tech {
            
            width: 244px;
            height: 36px;
            background: url(../img/stm-open-technology.gif) no-repeat;
        }
    }
}





