
@import 'utilities';
@import 'fonts';

// Colors
$black: #2a2a2a;
$dark: #989898;

$green: #b3c742;
$blue: #35678e;
$grey: #DDD;
$orange: #f17534;
$rule: #e7e7e7;

$brand-blue: #4e95d2;
$brand-orange: #f37528;
$brand-red: #6d2843;
$brand-green: #b3c935;

$highlight: $blue;

// Fonts
$openSansStack: 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;


/* Core */

body {

    font-family: $openSansStack; 
    font-weight: 300;
    font-size: 16px;
    position: relative;	
    padding-top: 0;
    background-color: #FFF;

}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    
    font-family: $openSansStack; 
    font-weight: 300;
}

.no-gutter [class*="-5"],
.no-gutter [class*="-7"] {
	
	padding-left:0;
    padding-right:0;
}

a {
    
    color: $highlight;
    
    &:hover,
    &:focus,
    &.focus {
        
        
    }   
}

.btn-default {
    
    background: none;
    text-shadow: none;
    border: 2px solid $grey;
    box-shadow: none;
    
    &:hover,
    &:focus,
    &.focus {
        
        background: none;
        border-color: $highlight;
        color: $highlight;
    }    
}

.btn-primary {
    
    background: $blue;
    text-shadow: none;
    border: 2px solid transparent;
    box-shadow: none;
    
    &:hover,
    &:focus,
    &.focus {
        
        background: none;
        border-color: $highlight;
        color: $highlight;
    }    
}

.main {
    
    padding: 0 15px;
}

iframe {
    
    border: none;
}

a.google-play-badge {

    display: block;
    background: url(../img/google-play-badge.png) no-repeat;
    width: 172px;
    height: 60px;
            
    @extend .text-replacement;  
}

a.f-droid-badge {

    display: block;
    background: url(../img/f-droid-badge.png) no-repeat;
    width: 200px;
    height: 60px;
            
    @extend .text-replacement;  
}


/*  Headers */

h2 {
    
    font-size: pem(14);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2em;
}


/* Header */

.navbar {
    
    height: 82px;
    border-radius: 0;
    background: $black;
    margin-bottom: 0;
    box-shadow: none;
    border: none;
    
    > .container .navbar-brand {
        
        font-weight: 600;
        color: #FFF;
        font-size: pem(18);
        text-transform: uppercase;
        letter-spacing: 0.17em;

        height: 52px;
        margin-top: 15px;
        padding-left: 70px;
        margin-left: 10px;
        
        background: url(../img/stm-logo.png) no-repeat 0 0;
        
        span {
            
            color: $dark;
        }
    }
    
    .navbar-right {
        
        margin-top: 24px;    
    }
    
    .navbar-form {
        
        form, .user-panel {
            
            display: inline;
        }

        .btn {
            
            width: 32px;
            background: url(../img/stm-search-icon.gif) no-repeat 0 5px;  
            border: none;
            outline: none;
        }
        
        .search-field {
            
            background: none;
            border: none;
            border-bottom: 1px solid $dark;
            border-radius: 0;
            color: #6b6b6b;
            font-size: pem(18);
            padding-left: 0;
            padding-right: 0;
            
            &:focus {
                
                color: #FFF;
                border-bottom-color: #FFF;
                @include prefix( box-shadow, none);
            }
        }
    }
    
    .user-panel {
        
        color: $dark;
        
        a {
            
            font-size: pem(16);
            font-weight: 400;
            color: #FFF;
        }
        
        p {
            
            display: inline;
        }
        
        .nav-username {
            
            padding-right: 10px;
        }
    }   
}


/* Sidebar */

.stm-sidebar {
    
    border-right: 1px solid $rule;
    
    .panel {
        
        border-radius: 0;
        border: none;
        box-shadow: none;
        padding-top: 20px;
    }
    
    .nav-list {
                
        li {
            
            &.active a,
            a:hover {
                
                background: none;
            }
            
            a:hover {
                
                color: $orange;
            }
        }
    }
    
}


/* Footer */

footer {
    
    margin-top: 0;
    background: #FFF;
    
    .nav-footer {
        
        margin: 0;
        background: url(../img/stm-logo.png) no-repeat 0 0;
        padding-left: 70px;
        height: 50px;
        
        ul {
            
            list-style: none;
            margin: 0;
            padding: 0;
            width: auto;
            
            li {
                
                padding-right: 30px;
            }
        }
        
        a {
            
            color: $black;
        }
    }
    
    .site-info {
        
        margin: 0;
        font-size: pem(12);
        font-weight: 400;
        padding-left: 70px;
        
        a {
            
            font-weight: 600;
            color: $black;
        }
        
        .separator {
            
            color: $black;
        }
    }   
}

/* Messages */

@import 'messages';


/* Homepage */

@import 'home';


/* App Upsell Page */

@import 'app';


/* Account Login/Signin */

@import 'login';


/* Dashboard */

@import 'dashboard';






