
@import 'utilities';
@import 'fonts';

// Colors
$black: #222;
$green: #b3c742;
$blue: #35678e;
$grey: #DDD;
$orange: #f17534;
$rule: #e7e7e7;

$brand-blue: #4e95d2;
$brand-orange: #f37528;
$brand-red: #6d2843;
$brand-green: #b3c935;

$highlight: $blue;

// Fonts
$openSansStack: 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;


/* Core */

body {

    font-family: $openSansStack; 
    font-weight: 300;
    font-size: 16px;
    position: relative;	
    padding-top: 0;
    background-color: #FFF;

}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    
    font-family: $openSansStack; 
    font-weight: 300;
}

.no-gutter [class*="-5"],
.no-gutter [class*="-7"] {
	
	padding-left:0;
    padding-right:0;
}

a {
    
    color: $highlight;
    
    &:hover,
    &:focus,
    &.focus {
        
        
    }   
}

.btn-default {
    
    background: none;
    text-shadow: none;
    border: 2px solid $grey;
    box-shadow: none;
    
    &:hover,
    &:focus,
    &.focus {
        
        background: none;
        border-color: $highlight;
        color: $highlight;
    }    
}

.btn-primary {
    
    background: $blue;
    text-shadow: none;
    border: 2px solid transparent;
    box-shadow: none;
    
    &:hover,
    &:focus,
    &.focus {
        
        background: none;
        border-color: $highlight;
        color: $highlight;
    }    
}

.main {
    
    padding: 0 15px;
}


/*  Headers */

h2 {
    
    font-size: pem(14);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2em;
}


/* Header */

.navbar {
    
    border-radius: 0;
    background: #FFF;
    margin-bottom: 0;
    box-shadow: none;
    border-left: 0;
    border-right: 0;
    
    > .container .navbar-brand {
        
        font-weight: 600;
        color: $black;
        background: url(../img/stm-logo.png) no-repeat 0 2px;
        padding-left: 57px;
        font-size: pem(14);
        margin-left: 10px;
        
    }
    
    .navbar-form {
        
        form, .user-panel {
            
            display: inline;
        }
    }
    
    .user-panel {
        
        a {
            
            font-size: pem(12);
            font-weight: 400;
            color: $black;
        }
        
        p {
            
            display: inline;
        }
    }   
}


/* Sidebar */

.stm-sidebar {
    
    border-right: 1px solid $rule;
    
    .panel {
        
        border-radius: 0;
        border: none;
        box-shadow: none;
        padding-top: 20px;
    }
    
    .nav-list {
                
        li {
            
            &.active a,
            a:hover {
                
                background: none;
            }
            
            a:hover {
                
                color: $orange;
            }
        }
    }
    
}


/* Footer */

footer {
    
    .nav-footer {
        
        margin: 0;
        
        ul {
            
            list-style: none;
            margin: 0;
            padding: 0;
            width: auto;
            
            li {
                
                padding-right: 30px;
            }
        }
        
        a {
            
        //    font-weight: 600;
            color: $black;
        }
    }
    
    .site-info {
        
        margin: 0;
        font-size: pem(12);
        font-weight: 400;
        
        a {
            
            font-weight: 600;
            color: $black;
        }
        
        .separator {
            
            color: $black;
        }
    }   
}


/* Account Login/Signin */

@import 'home';


/* Account Login/Signin */

@import 'login';


/* Dashboard */

@import 'dashboard';






