{% extends "base.html" %}
{% load i18n mezzanine_tags %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block body_id %}account{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li>{{ title }}</li>
{% endblock %}

{% block main %}

{% errors_for form %}
<div class="container">
    <div class="row">
            
        <div class="col-md-4 col-md-offset-4">
            <form class="account-login" method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                <fieldset>
                <legend>{{ title }}</legend>
                {% fields_for form %}
                <div class="form-actions">
                    {% block account_form_actions %}
                    <input class="btn btn-default btn-lg pull-right" type="submit" value="{{ title }}">
                    {% endblock %}
                </div>
                </fieldset>
            </form>
        </div>

    </div>
</div>

{% endblock %}