@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,700,300,400);
.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

.text-replacement, .small-app-callout a.google-play-badge, .home-supported-by .story-maker-supporter-link, .home-about .home-social-container .social-link {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

/* Core */
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 16px;
  position: relative;
  padding-top: 0;
  background-color: #FFF; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; }

.no-gutter [class*="-5"],
.no-gutter [class*="-7"] {
  padding-left: 0;
  padding-right: 0; }

a {
  color: #35678e; }

.btn-default {
  background: none;
  text-shadow: none;
  border: 2px solid #dddddd;
  box-shadow: none; }
  .btn-default:hover, .btn-default:focus, .btn-default.focus {
    background: none;
    border-color: #35678e;
    color: #35678e; }

.btn-primary {
  background: #35678e;
  text-shadow: none;
  border: 2px solid transparent;
  box-shadow: none; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary.focus {
    background: none;
    border-color: #35678e;
    color: #35678e; }

.main {
  padding: 0 15px; }

/*  Headers */
h2 {
  font-size: 0.875em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2em; }

/* Header */
.navbar {
  height: 82px;
  border-radius: 0;
  background: #2a2a2a;
  margin-bottom: 0;
  box-shadow: none;
  border: none; }
  .navbar > .container .navbar-brand {
    font-weight: 600;
    color: #FFF;
    font-size: 1.125em;
    text-transform: uppercase;
    letter-spacing: 0.17em;
    height: 52px;
    margin-top: 15px;
    padding-left: 70px;
    margin-left: 10px;
    background: url(../img/stm-logo.png) no-repeat 0 0; }
    .navbar > .container .navbar-brand span {
      color: #989898; }
  .navbar .navbar-right {
    margin-top: 24px; }
  .navbar .navbar-form form, .navbar .navbar-form .user-panel {
    display: inline; }
  .navbar .navbar-form .btn {
    height: 32px;
    width: 32px;
    background: url(../img/stm-search-icon.gif) no-repeat 0 5px;
    border: none;
    outline: none; }
  .navbar .navbar-form .search-field {
    background: none;
    border: none;
    border-bottom: 1px solid #989898;
    border-radius: 0;
    color: #6b6b6b;
    font-size: 1.125em;
    padding-left: 0;
    padding-right: 0; }
    .navbar .navbar-form .search-field:focus {
      color: #FFF;
      border-bottom-color: #FFF;
      -webkit-box-shadow: none;
      -khtml-box-shadow: none;
      -moz-box-shadow: none;
      -o-box-shadow: none;
      -ms-box-shadow: none;
      box-shadow: none; }
  .navbar .user-panel {
    color: #989898; }
    .navbar .user-panel a {
      font-size: 1em;
      font-weight: 400;
      color: #FFF; }
    .navbar .user-panel p {
      display: inline; }
    .navbar .user-panel .nav-username {
      padding-right: 10px; }

/* Sidebar */
.stm-sidebar {
  /* border-right: 1px solid #e7e7e7; */
}
  .stm-sidebar .panel {
    border-radius: 0;
    border: none;
    box-shadow: none;
    padding-top: 20px; }
  .stm-sidebar .nav-list li.active a,
  .stm-sidebar .nav-list li a:hover {
    background: none; }
  .stm-sidebar .nav-list li a:hover {
    color: #f17534; }

/* Footer */
footer {
  background: #FFF; }
  footer .nav-footer {
    margin: 0;
    background: url(../img/stm-logo.png) no-repeat 0 0;
    padding-left: 70px;
    height: 50px; }
    footer .nav-footer ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: auto; }
      footer .nav-footer ul li {
        padding-right: 30px; }
    footer .nav-footer a {
      color: #2a2a2a; }
  footer .site-info {
    margin: 0;
    font-size: 0.75em;
    font-weight: 400;
    padding-left: 70px; }
    footer .site-info a {
      font-weight: 600;
      color: #2a2a2a; }
    footer .site-info .separator {
      color: #2a2a2a; }

/* Account Login/Signin */
/* Home */
.banner {
  background-color: aqua; }
  .banner .banner-header {
    text-align: center; }
  .banner h1 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 3.1875em;
    color: #FFF;
    width: 95%;
    text-align: center; }

/* Mission */
.mission {
  background: url(../img/stm-home-masthead.jpg) no-repeat #35678e center center;
  height: 380px;
  -webkit-background-size: cover;
  -khtml-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover; }
  .mission h1 {
    margin: 84px auto 0; }

.app-callout {
  background: url(../img/stm-home-app-callout-orange.jpg) no-repeat #b3c742 center center;
  height: 515px;
  -webkit-background-size: cover;
  -khtml-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  /*
      .google-play-badge {
  
          a {
              
              display: block;
              background: url(../img/google-play-badge.png) no-repeat;
              width: 172px;
              height: 60px;
                          
              @extend .text-replacement;  
          }
      }
  */ }
  .app-callout h1 {
    text-align: left;
    margin-top: 144px;
    font-size: 2.625em; }
  .app-callout p {
    color: #FFF;
    font-weight: 300;
    font-size: 1.25em;
    line-height: 1.4em; }
  .app-callout a {
    color: #FFF; }
  .app-callout .btn-default {
    color: #FFF;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #FFF;
    margin-top: 10px; }
    .app-callout .btn-default:hover, .app-callout .btn-default:focus, .app-callout .btn-default.focus {
      background: #FFF;
      color: #35678e; }

/* Panels */
.featured-makers {
  padding-top: 40px;
  padding-bottom: 40px; }

.list-post h1 {
  font-size: 2.625em;
  line-height: 1.14286em;
  margin-bottom: 5px; }
.list-post p {
  font-size: 1.125em;
  line-height: 1.77778em; }
.list-post h3 {
  font-size: 0.75em;
  line-height: 1.5em;
  font-weight: 600;
  margin-top: 5px; }
  .list-post h3 span {
    text-transform: capitalize; }
.list-post img {
  width: 100%; }

/* Makers List */
.featured-story-makers h2 {
  text-align: center;
  margin: 60px 0; }

.featured-story-maker {
  text-align: center;
  padding-bottom: 40px; }
  .featured-story-maker h1 {
    text-align: center;
    font-size: 1.125em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.11em;
    margin-bottom: 10px; }
  .featured-story-maker p {
    font-size: 0.875em;
    line-height: 1.28571em;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 1.125em; }
  .featured-story-maker button {
    width: 80%; }
  .featured-story-maker .featured-story-maker-portrait {
    text-align: center; }

/* About Footer */
.small-app-callout {
  height: 190px; }
  .small-app-callout .row {
    margin-top: 50px; }
  .small-app-callout h4 {
    font-size: 1.75em; }
  .small-app-callout a.google-play-badge {
    display: block;
    background: url(../img/google-play-badge.png) no-repeat;
    width: 172px;
    height: 60px; }

/* Supported By */
.home-supported-by {
  height: 210px; }
  .home-supported-by h2 {
    text-align: center;
    margin-top: 26px; }
  .home-supported-by .supporter-container {
    position: relative;
    overflow: auto;
    margin-top: 14px; }
  .home-supported-by .story-maker-supporter-link {
    display: block;
    float: left;
    text-indent: 200%;
    padding: 0;
    margin: 0;
    width: 20%; }
    .home-supported-by .story-maker-supporter-link.stm-small-world-news {
      height: 36px;
      background: url(../img/stm-small-world-news.gif) no-repeat left center;
      margin-top: 30px; }
    .home-supported-by .story-maker-supporter-link.stm-scalio {
      height: 27px;
      background: url(../img/stm-scalio.png) no-repeat 48px -13px;
      margin-top: 30px; }
    .home-supported-by .story-maker-supporter-link.stm-open-tech {
      height: 36px;
      background: url(../img/stm-open-technology.gif) no-repeat 4px 0px;
      margin-top: 30px; }
    .home-supported-by .story-maker-supporter-link.stm-guardian {
      height: 95px;
      background: url(../img/stm-guardian-logo.gif) no-repeat 81px 0px;
      margin-top: 22px; }
    .home-supported-by .story-maker-supporter-link.stm-free-press {
      height: 95px;
      background: url(../img/stm-free-press-logo.gif) no-repeat 106px 0px;
      margin-top: 2px; }

/* Home About */
.home-about .home-about-container {
  margin-top: 40px; }
.home-about p {
  font-size: 1.125em;
  line-height: 1.77778em; }
.home-about .home-social-container {
  text-align: center;
  margin-bottom: 10px; }
  .home-about .home-social-container .social-link {
    width: 41px;
    height: 41px;
    display: inline-block;
    margin: 0 11px; }
    .home-about .home-social-container .social-link.twitter {
      background: url(../img/stm-social-twitter.png) no-repeat; }
    .home-about .home-social-container .social-link.facebook {
      background: url(../img/stm-social-facebook.png) no-repeat; }
    .home-about .home-social-container .social-link.instagram {
      background: url(../img/stm-social-instagram.png) no-repeat; }
    .home-about .home-social-container .social-link.youtube {
      background: url(../img/stm-social-youtube.png) no-repeat; }

/*
.stm-footer-about {
    
    p {
        
        font-size: pem(14);
        line-height: pem(20, 14);
    }
    
    ul {
        
        list-style: none;
        padding-left: 0;
        
        li {
            
            margin-right: 10px;
            display: inline;
        }
    }
}

.stm-supported-by {
    
    h2 {
        
        margin-top: 0;
        margin-bottom: 20px;
    }
    
    .story-maker-supporter-link {
        
        display: block;
        @extend .text-replacement;
        text-indent: 200%; 
        padding: 0;
    
        &.stm-small-world-news {
            
            width: 179px;
            height: 36px;
            background: url(../img/stm-small-world-news.gif) no-repeat;
        }
    
        &.stm-scalio {
            
            width: 179px;
            height: 36px;
            background: url(../img/stm-scalio.png) no-repeat center center;
        }
        
        &.stm-guardian {
            
            width: 205px;
            height: 95px;
            background: url(../img/stm-guardian-logo.gif) no-repeat;
        }
        
        &.stm-free-press {
            
            width: 244px;
            height: 95px;
            background: url(../img/stm-free-press-logo.gif) no-repeat;
        }
        
        &.stm-open-tech {
            
            width: 244px;
            height: 36px;
            background: url(../img/stm-open-technology.gif) no-repeat;
        }
    }
}
*/
/* Account Login/Signin */
#account .stm-sidebar {
  display: none; }
#account .main {
  background: url(../img/stm-login-background.jpg) no-repeat #f17534 center center;
  -webkit-background-size: cover;
  -khtml-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover; }
#account .account-login {
  padding: 100px 0; }
  #account .account-login legend {
    border: none;
    color: #FFF;
    font-size: 1.5em; }
  #account .account-login label {
    font-size: 0.875em;
    color: #FFF; }
  #account .account-login .input-xlarge,
  #account .account-login #id_email {
    width: 100%;
    max-width: none; }
  #account .account-login .form-actions {
    background: none;
    border: none;
    padding: 0; }
  #account .account-login .btn-default {
    border-color: #FFF;
    color: #FFF; }
    #account .account-login .btn-default:hover, #account .account-login .btn-default:focus, #account .account-login .btn-default.focus {
      background: #FFF;
      border-color: #FFF;
      color: #f17534; }
  #account .account-login p.help-block {
    color: #FFF;
    font-size: 0.75em;
    font-weight: 400;
    text-align: center; }
#account .login-notes {
  padding-bottom: 20px; }
  #account .login-notes p {
    color: #FFF;
    font-size: 0.75em;
    font-weight: 400;
    text-align: center;
    margin: 0; }
    #account .login-notes p a:link, #account .login-notes p a:active, #account .login-notes p a:visited {
      color: #FFF;
      font-weight: 600; }
    #account .login-notes p a:hover {
      color: #FFF; }
#account footer {
  margin-top: 0; }

/* Dashboard */
.stm-sidebar .stm-blog-profile.stm-blog-profile-burundi {
    margin-top: 105px;
}
.stm-sidebar .stm-blog-profile.stm-blog-profile-burundi .stm-blog-portrait {
    height: auto;
    padding-bottom: 23px;
    border-right: 1px solid #e7e7e7;
}
.stm-sidebar .stm-blog-profile.stm-blog-profile-burundi .stm-blog-groupname {
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 10px;
}
.stm-sidebar .stm-blog-profile.stm-blog-profile-burundi .stm-blog-groupdesc {
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding: 1em 1.3ex 1.2em 1.3ex;
    line-height: 1.4em;
}
.stm-sidebar .stm-blog-profile .stm-blog-portrait {
  height: 210px;
  border-bottom: 1px solid #e7e7e7;
  text-align: center; }
.stm-sidebar .stm-blog-profile .stm-blog-portrait .user-portrait {
  padding-top: 18px;
  width: 100%;
  max-width: 216px; }
.stm-sidebar .stm-blog-profile h1 {
  text-align: center;
  font-size: 1.125em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.11em;
  margin-bottom: 10px; }
.stm-sidebar .stm-blog-profile h4 {
  font-size: 0.875em;
  margin-bottom: 0; }
.stm-sidebar .stm-blog-profile label {
  font-size: 1.125em; }
.stm-sidebar .stm-blog-profile .settings-cta {
  margin-top: 10px; }
.stm-sidebar .stm-blog-profile .settings-cta .btn-default {
  width: 100%; }
.stm-sidebar .stm-blog-groups h3 {
  font-size: 0.875em;
  font-weight: 600; }
.stm-sidebar .stm-blog-groups .user-portrait {
  width: 100%;
  margin-top: 8px; }
.stm-sidebar .stm-blog-groups h5 {
  font-size: 0.875em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.11em;
  margin-bottom: 4px; }
.stm-sidebar .stm-blog-groups p {
  font-size: 0.75em;
  line-height: 1.33333em; }
.stm-sidebar .stm-blog-groups .col-md-3 {
  padding-right: 0; }
.stm-sidebar .stm-blog-groups .col-md-9 {
  padding-left: 0; }
.stm-sidebar .stm-saved-search h3 {
  font-size: 0.875em;
  font-weight: 600; }

.cat-header {
  background: url("/static/img/burundi_header.png") no-repeat scroll 0px 0px transparent;
  height: 103px;
  margin-left: -400px;
  width: 1606px;
}

