@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,700,300,400);
.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

.text-replacement, .app-callout .google-play-badge a, .stm-supported-by .story-maker-supporter-link {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

/* Core */
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 16px;
  position: relative;
  padding-top: 0;
  background-color: #FFF; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; }

.no-gutter [class*="-5"],
.no-gutter [class*="-7"] {
  padding-left: 0;
  padding-right: 0; }

a {
  color: #35678e; }

.btn-default {
  background: none;
  text-shadow: none;
  border: 2px solid #dddddd;
  box-shadow: none; }
  .btn-default:hover, .btn-default:focus, .btn-default.focus {
    background: none;
    border-color: #35678e;
    color: #35678e; }

.btn-primary {
  background: #35678e;
  text-shadow: none;
  border: 2px solid transparent;
  box-shadow: none; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary.focus {
    background: none;
    border-color: #35678e;
    color: #35678e; }

.main {
  padding: 0 15px; }

/*  Headers */
h2 {
  font-size: 0.875em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2em; }

/* Header */
.navbar {
  border-radius: 0;
  background: #FFF;
  margin-bottom: 0;
  box-shadow: none;
  border-left: 0;
  border-right: 0; }
  .navbar > .container .navbar-brand {
    font-weight: 600;
    color: #222222;
    background: url(../img/stm-logo.png) no-repeat 0 2px;
    padding-left: 57px;
    font-size: 0.875em;
    margin-left: 10px; }
  .navbar .navbar-form form, .navbar .navbar-form .user-panel {
    display: inline; }
  .navbar .user-panel a {
    font-size: 0.75em;
    font-weight: 400;
    color: #222222; }
  .navbar .user-panel p {
    display: inline; }

/* Sidebar */
.stm-sidebar {
  border-right: 1px solid #e7e7e7; }
  .stm-sidebar .panel {
    border-radius: 0;
    border: none;
    box-shadow: none;
    padding-top: 20px; }
  .stm-sidebar .nav-list li.active a,
  .stm-sidebar .nav-list li a:hover {
    background: none; }
  .stm-sidebar .nav-list li a:hover {
    color: #f17534; }

/* Footer */
footer .nav-footer {
  margin: 0; }
  footer .nav-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto; }
    footer .nav-footer ul li {
      padding-right: 30px; }
  footer .nav-footer a {
    color: #222222; }
footer .site-info {
  margin: 0;
  font-size: 0.75em;
  font-weight: 400; }
  footer .site-info a {
    font-weight: 600;
    color: #222222; }
  footer .site-info .separator {
    color: #222222; }

/* Account Login/Signin */
/* Home */
.banner {
  background-color: aqua; }
  .banner .banner-header {
    text-align: center; }
  .banner h1 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 3.1875em;
    color: #FFF;
    width: 95%;
    text-align: center; }

/* Mission */
.mission {
  background: url(../img/stm-home-masthead.jpg) no-repeat #35678e center center;
  height: 380px;
  -webkit-background-size: cover;
  -khtml-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover; }
  .mission h1 {
    margin: 84px auto 0; }

.app-callout {
  background: url(../img/stm-home-app-callout.jpg) no-repeat #b3c742 center center;
  height: 380px;
  -webkit-background-size: cover;
  -khtml-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover; }
  .app-callout h1 {
    text-align: left;
    margin-top: 84px; }
  .app-callout p {
    color: #FFF;
    font-weight: 300; }
  .app-callout a {
    color: #FFF; }
  .app-callout .google-play-badge a {
    display: block;
    background: url(../img/google-play-badge.png) no-repeat;
    width: 172px;
    height: 60px; }
  .app-callout .btn-default {
    color: #FFF;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #FFF;
    margin-left: 15px; }
    .app-callout .btn-default:hover, .app-callout .btn-default:focus, .app-callout .btn-default.focus {
      background: #FFF;
      color: #35678e; }

/* Panels */
.featured-makers {
  padding-top: 40px;
  padding-bottom: 40px; }

.featured-item-panel {
  height: 290px;
  border: none;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  -khtml-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2); }
  .featured-item-panel a {
    display: block;
    height: 100%; }
    .featured-item-panel a:hover, .featured-item-panel a:focus, .featured-item-panel a.focus {
      text-decoration: none; }
      .featured-item-panel a:hover .panel-background:after, .featured-item-panel a:focus .panel-background:after, .featured-item-panel a.focus .panel-background:after {
        opacity: 0; }
      .featured-item-panel a:hover h1, .featured-item-panel a:focus h1, .featured-item-panel a.focus h1 {
        -webkit-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
        -khtml-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
        -moz-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
        -o-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
        -ms-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5); }
  .featured-item-panel .panel-heading {
    height: 192px;
    position: relative;
    padding: 0; }
    .featured-item-panel .panel-heading .panel-background {
      background: #dddddd no-repeat center center;
      -webkit-background-size: cover;
      -khtml-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      -ms-background-size: cover;
      background-size: cover;
      position: absolute;
      width: 100%;
      height: 100%; }
      .featured-item-panel .panel-heading .panel-background:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #4e95d2;
        opacity: 0.7;
        -webkit-transition: opacity 150ms ease-in-out;
        -khtml-transition: opacity 150ms ease-in-out;
        -moz-transition: opacity 150ms ease-in-out;
        -o-transition: opacity 150ms ease-in-out;
        -ms-transition: opacity 150ms ease-in-out;
        transition: opacity 150ms ease-in-out; }
    .featured-item-panel .panel-heading h1 {
      position: absolute;
      bottom: 0px;
      font-size: 1.25em;
      color: #FFF;
      padding: 0 15px; }
  .featured-item-panel .panel-footer {
    background: none;
    border: none;
    width: 390px;
    -webkit-border-radius: 0 2px 2px 0;
    -khtml-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    -o-border-radius: 0 2px 2px 0;
    -ms-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0; }
    .featured-item-panel .panel-footer p {
      font-size: 0.875em;
      line-height: 1.71429em;
      color: #222222; }
    .featured-item-panel .panel-footer h3 {
      font-size: 0.75em;
      font-weight: 600;
      color: #222222;
      margin: 10px 0 0; }
  .featured-item-panel .feature-orange .panel-background:after {
    background-color: #f37528; }
  .featured-item-panel .feature-red .panel-background:after {
    background-color: #6d2843; }
  .featured-item-panel .feature-green .panel-background:after {
    background-color: #b3c935; }

/* Makers List */
.featured-story-makers h2 {
  text-align: center;
  margin: 60px 0; }

.featured-story-maker {
  text-align: center;
  padding-bottom: 40px; }
  .featured-story-maker h1 {
    text-align: center;
    font-size: 1.125em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.11em;
    margin-bottom: 10px; }
  .featured-story-maker p {
    font-size: 0.875em;
    line-height: 1.28571em;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 1.125em; }
  .featured-story-maker button {
    width: 80%; }
  .featured-story-maker .featured-story-maker-portrait {
    text-align: center; }

/* About Footer */
.stm-footer-about p {
  font-size: 0.875em;
  line-height: 1.42857em; }
.stm-footer-about ul {
  list-style: none;
  padding-left: 0; }
  .stm-footer-about ul li {
    margin-right: 10px;
    display: inline; }

.stm-supported-by h2 {
  margin-top: 0;
  margin-bottom: 20px; }
.stm-supported-by .story-maker-supporter-link {
  display: block;
  text-indent: 200%;
  padding: 0; }
  .stm-supported-by .story-maker-supporter-link.stm-small-world-news {
    width: 179px;
    height: 36px;
    background: url(../img/stm-small-world-news.gif) no-repeat; }
  .stm-supported-by .story-maker-supporter-link.stm-scalio {
    width: 179px;
    height: 36px;
    background: url(../img/stm-scalio.png) no-repeat center center; }
  .stm-supported-by .story-maker-supporter-link.stm-guardian {
    width: 205px;
    height: 95px;
    background: url(../img/stm-guardian-logo.gif) no-repeat; }
  .stm-supported-by .story-maker-supporter-link.stm-free-press {
    width: 244px;
    height: 95px;
    background: url(../img/stm-free-press-logo.gif) no-repeat; }
  .stm-supported-by .story-maker-supporter-link.stm-open-tech {
    width: 244px;
    height: 36px;
    background: url(../img/stm-open-technology.gif) no-repeat; }

/* Account Login/Signin */
#account .stm-sidebar {
  display: none; }
#account .main {
  background: url(../img/stm-login-background.jpg) no-repeat #f17534 center center;
  -webkit-background-size: cover;
  -khtml-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover; }
#account .account-login {
  padding: 100px 0; }
  #account .account-login legend {
    border: none;
    color: #FFF;
    font-size: 1.5em; }
  #account .account-login label {
    font-size: 0.875em;
    color: #FFF; }
  #account .account-login .input-xlarge,
  #account .account-login #id_email {
    width: 100%;
    max-width: none; }
  #account .account-login .form-actions {
    background: none;
    border: none;
    padding: 0; }
  #account .account-login .btn-default {
    border-color: #FFF;
    color: #FFF; }
    #account .account-login .btn-default:hover, #account .account-login .btn-default:focus, #account .account-login .btn-default.focus {
      background: #FFF;
      border-color: #FFF;
      color: #f17534; }
  #account .account-login p.help-block {
    color: #FFF;
    font-size: 0.75em;
    font-weight: 400;
    text-align: center; }
#account .login-notes {
  padding-bottom: 20px; }
  #account .login-notes p {
    color: #FFF;
    font-size: 0.75em;
    font-weight: 400;
    text-align: center;
    margin: 0; }
    #account .login-notes p a:link, #account .login-notes p a:active, #account .login-notes p a:visited {
      color: #FFF;
      font-weight: 600; }
    #account .login-notes p a:hover {
      color: #FFF; }
#account footer {
  margin-top: 0; }

/* Dashboard */
.stm-sidebar .stm-blog-profile .stm-blog-portrait {
  height: 210px;
  border-bottom: 1px solid #e7e7e7;
  text-align: center; }
  .stm-sidebar .stm-blog-profile .stm-blog-portrait .user-portrait {
    padding-top: 18px;
    width: 100%;
    max-width: 216px; }
.stm-sidebar .stm-blog-profile h1 {
  text-align: center;
  font-size: 1.125em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.11em;
  margin-bottom: 10px; }
.stm-sidebar .stm-blog-profile h4 {
  font-size: 0.875em;
  margin-bottom: 0; }
.stm-sidebar .stm-blog-profile label {
  font-size: 1.125em; }
.stm-sidebar .stm-blog-profile .settings-cta {
  margin-top: 10px; }
  .stm-sidebar .stm-blog-profile .settings-cta .btn-default {
    width: 100%; }
.stm-sidebar .stm-blog-groups h3 {
  font-size: 0.875em;
  font-weight: 600; }
.stm-sidebar .stm-blog-groups .user-portrait {
  width: 100%;
  margin-top: 8px; }
.stm-sidebar .stm-blog-groups h5 {
  font-size: 0.875em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.11em;
  margin-bottom: 4px; }
.stm-sidebar .stm-blog-groups p {
  font-size: 0.75em;
  line-height: 1.33333em; }
.stm-sidebar .stm-blog-groups .col-md-3 {
  padding-right: 0; }
.stm-sidebar .stm-blog-groups .col-md-9 {
  padding-left: 0; }
.stm-sidebar .stm-saved-search h3 {
  font-size: 0.875em;
  font-weight: 600; }
